<nav class="navbar" >
  <mat-toolbar class="nav" color="primary">
      <a  [routerLink]="['/']"><span>PlatziOverflow</span></a>
      <span class="spacer"></span>
      <button class="account" *ngIf="!islogged()"  [routerLink]="['/Signin']">
        <a ><mat-icon >account_circle</mat-icon></a>
      </button>
      <div *ngIf="islogged()">
        <button class="account" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>
            <span>{{fullName()}}</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <span>Cerrar sesion</span>
          </button>
        </mat-menu>
      </div>
  </mat-toolbar>
</nav>
<router-outlet></router-outlet>
